.header {
  position: absolute;
  background-color: var(--clr-white);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  padding: var(--20-spc) 0;
  &__body {
    display: flex;
    align-items: center;
    & > * {
      font-size: 1.5rem;
    }
  }
  &__lang-hidden {
    position: absolute;
    top: 3.5rem;
  }
  &__navigation {
    margin-left: clamp(30px, 16.625vw, 266px);
  }
  &__call {
    display: none;
  }
  &__options,
  .header__lang-block {
    @include dfsb;
  }
  &__lang-block {
    &:hover img {
      transform: scaleY(-1);
    }
  }
  &__lang-block:hover .header__lang-hidden {
    opacity: 1;
    max-height: 100%;
    pointer-events: all;
  }
  &__options {
    grid-gap: clamp(30px, 3.75vw, 60px);
    margin-left: auto;
  }
  &__burger {
    margin-left: 38px;
  }
  &__lang-item {
    cursor: pointer;
  }
  .mob-menu {
    display: grid;
    grid-gap: 9.5px;

    span {
      transition: all 500ms ease;
      background-color: var(--clr-black);
      width: 36px;
      height: 1px;
      display: block;
    }
  }
  &__lang-hidden {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease, max-height 300ms ease;
  }
  &__lang-chosen {
    cursor: pointer;
    img {
      transition: transform 300ms ease;
    }
  }
}

.nav {
  &__list {
    @include al-flex;
    grid-gap: clamp(2rem, 3.75vw, 60px);
  }
  &__link {
    position: relative;

  }
  .--is-active {
    color: var(--clr-white);
    position: relative;
    // transition: all 500ms ease-in-out;
    &::before {
      @include psevdo;
      width: 191px;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--g-light);
      // margin: var(--16-spc) 1.875rem;
      box-shadow: var(--btn-shadow);
      z-index: -1;
      transition: all .3s ease-in-out;
    }
  }
}

@include max-media($tablet-media) {
  .nav {
    display: none;
  }
}

._change-header {
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 89%, 1) !important;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 500ms ease;
  animation: fadeDown .4s ease-in-out;
  @keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .header__options {
    max-width: 100%;
    grid-gap: 0px 27px;
  }
  .header__lang-block {
    display: none;
  }
  .header__call {
    order: -1;
    display: block;
  }
  .header__burger {
    margin-left: 25px;
  }
}

@include max-media(69.6875em) {
  .header {
    &__options {
      grid-gap: 9px 40px;
      flex-wrap: wrap;
    }

    &__navigation {
      display: none;
    }
  }
}

@include min-media(69.6875em) {
  .header {
    &__burger {
      display: none;
    }
  }
}

._burger-active {
  .mob-menu {
    span {
      &:first-child {
        transform: rotate(45deg) translateY(11px);
      }
      &:nth-child(2) {
        transform-origin: 0 100%;
        transform: rotate(0deg) scale(0);
      }
      &:last-child {
        transform: rotate(-45deg) translate(4px, -15px);
      }
    }
  }
}

@include max-media(34.375em) {
  .header {
    padding: 17px 0px 9px;
    &__body {
      & > * {
        font-size: 1.125rem;
      }
    }
    &__options {
      grid-gap: 9px 1.9375rem;
      justify-content: flex-end;
      max-width: 145px;
    }
    &__call {
      order: 1;
    }
  }
}
