._icon-block {
  padding: clamp(1.25rem, 1.875vw, 30px);
  background: var(--g-light);
  position: absolute;
  width: auto;
  height: fit-content;
  right: 0;
  bottom: 0;
  aspect-ratio: 1 / 1;
  backdrop-filter: blur(20px);
  z-index: 10;
  @include max-media(34.375em) {
    padding: .8rem;
  }
}
