.lightning {
  &__container {
    padding-top: 8px;
    overflow-x: hidden;
  }
  &__title {
    margin-bottom: var(--50-spc);
    text-align: center;
    &::before {
      width: 13.75rem;
    }
  }
  &__text-wrapper {
    max-width: 62.875rem;
    display: grid;
    grid-gap: var(--20-spc);
    text-align: center;
    margin-inline: auto;
    font-size: var(--20-spc);
  }
  &__row {
    margin-top: 2.5rem;
  }
}

.lightning-list {
  display: flex;
  flex-wrap: nowrap;
  --hovered-item: linear-gradient(180deg, rgba(110, 80, 164, 0.64) 0%, rgba(79, 109, 185, 0.64) 100%);
  &__image {
    min-height: 31.25rem;
    max-height: 31.25rem;
    img,
    picture {
      width: 100%;
      height: 100%;
      min-height: 31.25rem;
    }
  }
  &__item {
    flex: 0 0 auto;
    max-width: 25.0625rem;
    min-height: 31.25rem;
    height: 100%;
    position: relative;
    overflow: hidden;

    &:hover::before {
      opacity: 1;
    }
    &:hover .lightning-list__info {
      transform: translate(-50%, -50%);
    }
    &::before {
      @include psevdo;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--hovered-item);
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: opacity 500ms ease;

    }
    &::after {
      @include psevdo;
      content: '';
      background-image: url('../../img/cursor-icon.png');
      background-size: 88px 88px;
      width: 88px;
      height: 88px;
      right: 15px;
      bottom: 15px;
      animation: cursorAnim 2s infinite ease;
      z-index: 1;
    }
    @keyframes cursorAnim {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
  &__info {
    transition: transform 500ms ease;
    will-change: transform;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
  width: 80%;
    color: var(--clr-white);
  }
  &__info-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: clamp(1.125rem, 1.25vw, 20px);
    line-height: 115%;
  }
}

@include max-media(77.8125em) {
  .lightning {
    &__container {
      max-width: 45.5rem;
    }
  }
  .lightning-list {
    &__item {
      max-width: 100%;
      width: 100%;
    }
  }
}

@include max-media(42.9375em) {
  .lightning {
    &__row {
      max-width: 25.9375rem;
      margin-inline: auto;
      overflow: hidden;
    }
    &__title {
      margin-bottom: 30px;
    }
  }
}

._disable-anim {
  &::after {
    transition: all 500ms ease-in-out;
    transform: translateX(1000%);
  }
}

._active-anim {
  &::after {
    transform: translateX(0);
  }
}

