.works {

  &__container {
    overflow: hidden;
    position: relative;
  }
  &__body {
    max-width: 65rem;
    overflow: hidden;
    margin-inline: auto;
  }
  &__inner {
    margin-top: clamp(2rem, 3.125vw, 50px);
  }
  &__title {
    &::before {
      top: -5px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__pagination {
    .swiper-button-disabled {
      cursor: default;
      &:hover img {
        transform: translateX(0) !important;
      }
      img {
        opacity: .5;
      }
    }
  }
  ._btn-prev {
    left: calc(0px + 15px);
    img {
      transition: transform 500ms ease;
    }
    &:hover img {
      transform: translateX(-5px);
    }
  }
  ._btn-next {
    right: calc(0px + 15px);
    img {
      transition: transform 500ms ease;
    }
    &:hover img {
      transform: translateX(5px);
    }
  }
  &__btn {
    position: absolute;
    top: 55%;
    transform: translate(0%, -50%);
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 4.6875rem;
    aspect-ratio: 1 / 1;
    background-image: var(--g-light);
  }
  .works-row {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    overflow: hidden;
    &__wrapper {
      overflow: hidden;
      position: relative;
      &:hover::before {
        opacity: 1;
      }
      img,
      picture {
        max-height: 332px;
        width: 100%;
        height: 100%;
      }
      &:nth-child(1) {
        flex: 0 1 38.375rem;
      }
      &:nth-child(2) {
        flex: 0 1 25.375rem;
      }
      &:nth-child(3) {
        flex: 0 1 25.375rem;
      }
      &:nth-child(4) {
        flex: 0 1 38.375rem;
      }
    }
    &__button {
      margin-left: auto;
      transform: translate(0, 100%);
      z-index: 100;
      opacity: 0;
      transition: all 500ms ease-in-out;
    }
    &__wrapper {
      max-height: 332px;
      display: grid;
      align-items: flex-end;
      &:hover .works-row__descr {
        max-height: 100%;
      }
      &:hover .works-row__button {
        opacity: 1;
        transform: translate(0, 25px);
      }
    }
    &__image {
      height: 100%;
      max-height: 332px;
    }
    &__descr {
      position: absolute;
      bottom: 15px;
      left: 15px;
      padding: 20px 15px;
      background: linear-gradient(180deg, rgba(110, 80, 164, 0.3) 0%, rgba(79, 109, 185, 0.3) 100%);
      backdrop-filter: blur(15px);
      max-width: 18.0625rem;
      max-height: calc(100% - 187px);
      transition: all 1s ease;
    }
  }
  .hidden-descr {
    display: grid;
    grid-gap: 5px;
    &__info {
      color: var(--clr-white);
      font-size: 1.125rem;
      font-weight: 700;
    }
    &__button {
      margin-left: auto;
      transform: translateY(2rem);
    }
  }
}

@include max-media(67.5em) {
  .works-row {
    justify-content: center;
    &__wrapper {
      img,
      picture {
        max-height: 14rem !important;
        min-height: 14rem;
      }
      &:nth-child(1) {
        flex: 0 1 48.9% !important;
      }
      &:nth-child(2) {
        flex: 0 1 48.5% !important;
      }
      &:nth-child(3) {
        flex: 0 1 48.5% !important;
      }
      &:nth-child(4) {
        flex: 0 1 48.5% !important;
      }
    }
  }
}

@include max-media(77.8125em) {
  .works {
    &__pagination {
      display: flex;
      justify-content: center;
      grid-gap: 5.6875rem;
      margin-top: 23px;
    }
    ._btn-next,
    ._btn-prev {
      &:hover img {
        transform: translate(0);
      }
      img {
        width: 19px;
      }
      width: 51px;
      height:51px;
      position: relative;
      transform: translate(0);
    }
  }
}

._visible-image {
  display: block !important;
}

@include max-media(51.5625em) {
  .works-row {
    &__wrapper {
      max-width: 17.1875rem;
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        display: none;
      }
    }
  }
}

@include min-media(51.5625em) {
  ._visible-image {
    display: none;
  }
  ._hidden-photos {
    display: none !important;
  }
}

@include max-media(38.125em) {
  .works-row {
    display: inline-block !important;
    &__button {
      font-size: 0.9375rem;
      transform: translate(0, 15px) !important;
      opacity: 1 !important;
    }
    &__descr {
      padding: 13px 6px !important;
      max-width: 14.0625rem !important;
      max-height: 100% !important;
    }

    &__wrapper {
      max-width: 100%;
      margin-inline: auto;
      &:nth-child(1) {
        flex: unset !important;
      }
      &:nth-child(2) {
        display: none;
      }
    }

    ._visible-image {
      flex: 0 0 auto !important;
      .works-row__image {
        width: 100%;
        img,
        picture {
          width: 100%;
        }
      }
      &:nth-child(2) {
        display: none !important;
      }
    }
  }
  .hidden-descr {
    &__info {
      font-size: 0.9375rem !important;
    }
  }
}

@include min-media(38.125em) {
  ._mob-image {
    display: none !important;
  }
}


