.works {
  &__container {
    overflow: hidden;
    position: relative;
  }
  &__body {
    max-width: 65rem;
    overflow: hidden;
    margin-inline: auto;
  }
  &__inner {
    margin-top: clamp(2rem, 3.125vw, 50px);
  }
  &__title {
    &::before {
      top: -5px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__pagination {
    .swiper-button-disabled {
      cursor: default;
      &:hover img {
        transform: translateX(0) !important;
      }
      img {
        opacity: .5;
      }
    }
  }
  ._btn-prev {
    left: calc(0px + 15px);
    img {
      transition: transform 500ms ease;
    }
    &:hover img {
      transform: translateX(-5px);
    }
  }
  ._btn-next {
    right: calc(0px + 15px);
    img {
      transition: transform 500ms ease;
    }
    &:hover img {
      transform: translateX(5px);
    }
  }
  &__btn {
    position: absolute;
    top: 55%;
    transform: translate(0%, -50%);
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 4.6875rem;
    aspect-ratio: 1 / 1;
    background-image: var(--g-light);
  }
  .works-row {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    overflow: hidden;
    &__wrapper {
      overflow: hidden;
      position: relative;
      &:hover::before {
        opacity: 1;
      }
      img,
      picture {
        max-height: 332px;
        width: 100%;
        height: 100%;
      }
      &:nth-child(1) {
        flex: 0 1 38.375rem;
      }
      &:nth-child(2) {
        flex: 0 1 25.375rem;
      }
      &:nth-child(3) {
        flex: 0 1 25.375rem;
      }
      &:nth-child(4) {
        flex: 0 1 38.375rem;
      }
    }
    &__button {
      margin-left: auto;
      z-index: 100;
      transition: all 500ms ease-in-out;
      margin-top: 1rem;

    }
    &__wrapper {
      max-height: 332px;
      display: grid;
      align-items: flex-end;
      &:hover .works-row__descr {
        max-height: 100%;
      }
    }

    &__image {
      height: 100%;
      max-height: 332px;
    }
    &__descr {
      transition-delay: .5s !important;
      position: absolute;
      bottom: 15px;
      left: 15px;
      padding: 20px 15px;
      background: linear-gradient(180deg, rgba(110, 80, 164, 0.3) 0%, rgba(79, 109, 185, 0.3) 100%);
      backdrop-filter: blur(15px);
      max-width: 18.0625rem;
      transition: all 1s ease;
    }
  }
  .hidden-descr {
    display: grid;
    grid-gap: 5px;
    transition-delay: 1s !important;
    &__info {
      color: var(--clr-white);
      font-size: 1rem;
      font-weight: 700;
    }
    &__button {
      margin-left: auto;
      transform: translateY(2rem);
    }
  }
}

@include max-media(67.5em) {
  .works-row {
    justify-content: center;
    &__wrapper {
      img,
      picture {
        max-height: 14rem !important;
        min-height: 14rem;
      }
      &:nth-child(1) {
        flex: 0 1 48.9% !important;
      }
      &:nth-child(2) {
        flex: 0 1 48.5% !important;
      }
      &:nth-child(3) {
        flex: 0 1 48.5% !important;
      }
      &:nth-child(4) {
        flex: 0 1 48.5% !important;
      }
    }
  }
}

@include max-media(77.8125em) {
  .works {
    &__pagination {
      display: flex;
      justify-content: center;
      grid-gap: 5.6875rem;
      margin-top: 23px;
    }
    ._btn-next,
    ._btn-prev {
      &:hover img {
        transform: translate(0);
      }
      img {
        width: 19px;
      }
      width: 51px;
      height:51px;
      position: relative;
      transform: translate(0);
    }
  }
}

._visible-image {
  display: block !important;
}

@include max-media(77.5625em) {
  .works-row {
    justify-content: center;
    flex-wrap: nowrap !important;
    &__descr {
      left: 5px !important;
      bottom: 15px !important;
    }
    &__image {
      min-height: inherit;
      max-width: inherit;
    }
    &__wrapper {
      max-width: 21.5rem;
      min-height: 31.25rem;
      img, picture, source {
        min-height: 31.25rem;
        max-width: inherit;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        display: none;
      }
    }
  }
}

@include min-media(1242px) {
  ._visible-image {
    display: none;
  }
  .works-row {

  }
  ._hidden-photos {
    display: none !important;
  }
}

@include max-media(38.125em) {
  .works-row {
    display: inline-block !important;
    &__button {
      font-size: 0.9375rem;
      opacity: 1 !important;
    }
    &__descr {
      padding: 13px 6px !important;
      max-width: 14.0625rem !important;
      max-height: 100% !important;
      bottom: 15px !important;
      left: 15px !important;
    }
    &__image {
      min-height: 31.25rem;
      img, picture {
        min-height: 31.25rem;
      }
    }
    &__wrapper {
      min-height: 31.25rem;
      max-width: 100%;
      margin-inline: auto;
      &:nth-child(1) {
        flex: unset !important;
      }
      &:nth-child(2) {
        display: none;
      }
    }

    ._visible-image {
      flex: 0 0 auto !important;
      .works-row__image {
        width: 100%;
        img,
        picture {
          width: 100%;
        }
      }
      &:nth-child(2) {
        display: none !important;
      }
    }
  }
  .hidden-descr {
    &__info {
      font-size: 0.9375rem !important;
    }
  }
}

@include min-media(38.125em) {
  ._mob-image {
    display: none !important;
  }
}

.mob-image {
  display: none;
}

@include max-media(38.125em) {
  .mob-image {
    display: block;
  }
  .desktop-image {
    display: none;
  }
}


.swiper-slide-visible {
  .works-row__descr {
    transform: translate3d(0px,0,0) !important;
    opacity: 1 !important;
  }
  .hidden-descr {
    transform: translate3d(0, 0, 0) !important;
    opacity: 1 !important;
  }
  .works-row__button {
    transform: translate3d(0px, 0px, 0px) !important;
    opacity: 1 !important;
  }
}

.swiper-container {
  overflow: hidden;
}

.swiper {
  .works-row__descr {
    transform: translate3d(-50px,0,0);
    opacity: 0;
  }
  .hidden-descr {
    transform: translate3d(0, 50px, 0) ;
    opacity: 0 ;
    transition: all .5s ease;
    transition-delay: .4s;
  }
  .works-row__button {
    transform: translate3d(0px, 20px, 0px);
    transition-delay: 1100ms !important;
    opacity: 0;
    transition: all 800ms ease;
  }
}
