._general-title {
  text-transform: uppercase;
  font-size: clamp(1.875rem, 2.375vw, 38px);
  font-weight: 700;
  line-height: 118%;
  position: relative;
  width: fit-content;
  display: block;
  margin-inline: auto;
  &::before {
    @include psevdo;
    left: 0;
    top: -8.24px;
    height: 2px;
    background-color: var(--clr-black);
    width: 9.25rem;
  }
}
